
$primaryColor: #fff
$primaryDark: #333
$primaryFont: Arial, Serif
$margin: 1rem
$padding: 2rem
$center: 0 auto
$borderHover: 1px solid $primaryDark
$fontSizeLarge: 3rem
$fontSizeMedium: 1.5rem
$fontSizeSmall: 1rem
